.choose-template-component {
    margin: 5px; /* adjust as needed */
    margin-right: 240px;
    margin-top : 30px;
    padding: 10px;
    border: 1px solid hsl(208, 80%, 23%);
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

.template-select {
    margin-right: 5px; /* adjust as needed */
}

.template-button {
    background-color: #405a8e;
    color: white;
    padding: 10px 24px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

