.App {
  min-height: 100vh;
  text-align: left;
  display: flex;
  flex-direction: column;
  background-color: rgb(232, 228, 228);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #7898d9;
  min-height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: calc(20px + 2vmin);
  color: rgb(17, 16, 17);
}


.App-footer {
  margin-top: auto; 
  color: white;
  background-color: #405a8e; 
  padding: 20px; 
  text-align: center; 
  font-size: 24px; 
  max-height: 20px;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

